{% extends 'pages/base.html' %} {% block content %}
<div class="container-fluid p-5 mb-2 bg-secondary">
  <h1 class="text-center text-white">Favoris</h1>
</div>
<div class="container">
  <div class="row p-5">
    {% if favorite %} {% for fav in favorite %}

    <div class="card md-6" style="width: 25rem; margin-right: 5px">
      <img
        class="card-img-top"
        src="{{fav.product.picture_of_product}}"
        alt="Card image cap"
        style="height: 200px; object-fit: contain"
      />
      <div
        class=""
        style="
          background-color: grey;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          position: absolute;
          left: 260px;
          top: -20px;
          text-align: center;
        "
      >
        <div
          style="
            width: 50%;
            height: 50%;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            color: white;
          "
        >
          {{fav.product.nutriscore}}
        </div>
      </div>
      <div class="card-body">
        <div class="card-title text-center" style="height: 50px">
          {{fav.product.name_of_product}}
        </div>
      </div>
    </div>
    {% endfor %} {% else %}

    <h2>Désolé vous n'avez pas encore de favoris</h2>
    {% endif %}
  </div>
</div>

{% endblock %}
