{% extends "pages/base.html" %} {% block content %}
<div
  class="container-fluid p-5 mb-2 bg-secondary"
  style="background-image: url({{product.picture_of_product}});"
>
  <h1 class="text-center text-white">{{product.name_of_product }}</h1>
</div>
<div class="container-fluid bg-secondary" style="display: flex">
  <div style="flex-basis: auto; width: 35%; margin-left: auto">
    <h3>Nutriscore</h3>
    <div style="text-transform: uppercase">{{product.nutriscore_letter}}</div>
  </div>
  <div style="flex-basis: auto; width: 35%; height: 350px; margin-right: auto">
    <h3>Repères nutritionnels pour 100g</h3>
  </div>
</div>
<a style="width: 100%; display: flex" href="{{product.url_of_product}}">
  <button
    style="width: 50%; margin-right: auto; margin-left: auto"
    type="button"
    class="btn btn-primary btn-block"
  >
    Voir la fiche d'OpenFoodFacts
  </button>
</a>
{% endblock content %}
