{% extends "pages/base.html" %} {% block content %}

<div class="container-fluid p-5 mb-2 bg-secondary">
  <h1 class="text-center text-white">{{searchTerm }}</h1>
</div>
{% if products|length > 1 %}
<h2 class="text-center mt-5">Vous pouvez remplacer cet aliment par :</h2>
{% endif %}

<div class="container">
  <div class="row p-5">
    {% for product in products %}
    <div class="card m-3" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{product.picture_of_product}}"
        alt="Card image cap"
        style="height: 200px; object-fit: contain"
      />
      <div
        class=""
        style="
          background-color: grey;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          position: absolute;
          left: 260px;
          top: -20px;
          text-align: center;
        "
      >
        <div
          style="
            width: 50%;
            height: 50%;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            color: white;
          "
        >
          {{product.nutriscore}}
        </div>
      </div>
      <div class="card-body">
        <div class="card-title text-center" style="height: 50px">
          {{product.name_of_product}}
        </div>
        <!-- <a
          href="{{product.url_of_product}}"
          class="btn btn-primary text-center mt-4"
          style="margin-top: auto; margin-left: auto; display: block"
          >Voir le produit</a
        > -->
        <form action="{% url 'add_to_favorite' product.id %}">
          <button
            class="btn btn-primary text-center mt-4"
            style="margin-top: auto; margin-left: auto; display: block"
          >
            Sauvegarder
          </button>
        </form>
        <a
          class="btn btn-primary text-center mt-4"
          style="margin-top: auto; margin-left: auto; display: block"
          href="{% url 'searchdetail' product.id %}"
        >
          Voir le produit
        </a>
      </div>
    </div>
    {% empty %}

    <h1>I am sorry to let you hear ....</h1>
    <h2>No products found</h2>
    {% endfor %}
  </div>
</div>

{% endblock %}
