<!-- {% extends "pages/base.html" %} {% block content %} -->
<!-- Masthead-->

<!-- <header class="masthead">
  {% for product in products %}
  <h2>{{product.name_of_product}}</h2>
  {% endfor %}
</header>
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
      <div
        class="
          row
          gx-4 gx-lg-5
          h-100
          align-items-center
          justify-content-center
          text-center
        "
      >
        <div class="col-lg-8 align-self-end">
          <h1 class="text-white font-weight-bold">
            Du gras oui mais de qualité!
          </h1>
          <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline">
          <form class="form-inline container" action="{% url 'search' %}">
            <div class="row">
              <input
                type="text"
                class=" col-9"
                id="chercherproduit"
                name="searchProduct"
                placeholder="chercher un produit"
              />
                <button type="submit" class="col">
                  Chercher produit
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header> -->
<!-- {% endblock %} -->

<h1>ok</h1>
